body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1585409677983-0f6c41ca9c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }
  
  .box {
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
  
  }
  
  .container {
    text-align: left;
  }
  
  .container h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .card {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border: 0.5px solid black;
    
  }
  
  button {
    background-color: #283645;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #485766;
  }
  
  #inProgress {
    background-color: whitesmoke;
    border-radius: 10px;
  }
  #todo{
    margin-top: 27px;
    border-radius: 10px;
  }

  .hovered {
    background-color: whitesmoke;
  }